PORT=8080
CACHE_TTL=300
REDIS_URL=redis://localhost:6379/0

AVIATIONSTACK_BASE_URL=http://api.aviationstack.com/v1
AVIATIONSTACK_API_KEY=your_aviationstack_key

OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
OPENWEATHER_API_KEY=your_openweather_key
DEFAULT_WEATHER_CITY=Frankfurt
VITE_API_BASE=http://localhost:8080
